<a href="https://colab.research.google.com/github/tendomart/codingdojo/blob/main/Core_Project2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset 1:

DATASET SOURCE : 
https://catalog.data.gov/dataset/alcohol-related-disease-impact-ardi-application-alcohol-attributable-fractions

2) Brief description of the data

 Alcohol-Related Disease Impact (ARDI) Application - Alcohol-Attributable Fractions


ARDI is an online application that provides national and state estimates of alcohol-related health impacts, including deaths and years of potential life lost (YPLL). These estimates are calculated for 58 acute and chronic causes using alcohol-attributable fractions, and are reported by age and sex for 2015-2019. This dataset provides estimates of the proportion of deaths from various causes that are attributable to alcohol.

In [ ]:
# import libraries
import pandas as pd
import numpy as np

In [ ]:
#import dataset


df = pd.read_csv('/content/sample_data/Alcohol-Related_Disease_Impact.csv')
# https://catalog.data.gov/dataset/national-health-and-nutrition-examination-survey-nhanes-national-cardiovascular-disease-su-00a88
df.head()

,Associated_AAD_YPLL_Years,LocationAbbr,LocationDesc,DataSource,Data_Value_Unit,ConditionType,Category,Cause_of_Death,Direct_AAF,Direct_AAF_Alt,...,Sex,AgeGroup,LocationID,ConditionTypeID,CategoryID,Cause_of_Death_ID,ConsumptionID,SexID,AgeGroupID,DataValueUnitID
0,2015-2019,US,United States,ARDI,Alcohol-Attributable Fractions,Acute,Alcohol-Related Poisonings,Alcohol poisoning,1.00,1.00,...,Female,Overall,99,ACUTE,CAT6,ALCPOI,EXCSVE,GENF,Age0,5YEARSAVG
1,2015-2019,US,United States,ARDI,Alcohol-Attributable Fractions,Acute,Alcohol-Related Poisonings,Alcohol poisoning,1.00,1.00,...,Male,Overall,99,ACUTE,CAT6,ALCPOI,EXCSVE,GENM,Age0,5YEARSAVG
2,2015-2019,US,United States,ARDI,Alcohol-Attributable Fractions,Acute,Alcohol-Related Poisonings,Poisoning (not alcohol),0.29,0.29,...,Female,Overall,99,ACUTE,CAT6,OTHPOI,EXCSVE,GENF,Age0,5YEARSAVG
3,2015-2019,US,United States,ARDI,Alcohol-Attributable Fractions,Acute,Alcohol-Related Poisonings,Poisoning (not alcohol),0.29,0.29,...,Male,Overall,99,ACUTE,CAT6,OTHPOI,EXCSVE,GENM,Age0,5YEARSAVG
4,2015-2019,US,United States,ARDI,Alcohol-Attributable Fractions,Acute,Motor Vehicle Traffic Crashes,Motor vehicle traffic crashes,0.13,0.13,...,Female,65+,99,ACUTE,CAT7,MTVTRA,EXCSVE,GENF,AgeO,5YEARSAVG

In [ ]:
df.shape

(13728, 29)

In [ ]:
df.describe()

,Direct_AAF,Direct_AAF_Alt,Indirect_AAF_Low_Alt,Indirect_AAF_Medium_Alt,Indirect_AAF_High_Alt,LocationID
count,8736.000000,8736.000000,2392.000000,4784.000000,4784.000000,13728.000000
mean,0.562058,0.562058,0.018123,0.018286,0.052962,30.307692
std,0.349268,0.349268,0.047639,0.021777,0.061780,18.264268
min,0.000000,0.000000,-0.160000,-0.050000,-0.080000,1.000000
25%,0.230000,0.230000,0.000000,0.000000,0.020000,16.750000
50%,0.420000,0.420000,0.010000,0.010000,0.030000,29.500000
75%,1.000000,1.000000,0.050000,0.030000,0.070000,42.500000
max,1.000000,1.000000,0.160000,0.140000,0.350000,99.000000

In [ ]:
# What is the target?
# The target is Cause_of_Death

In [ ]:
# 4) Is this a classification or regression problem?
# This is a Classification problem (Using Nominal categorical features)
df.isna().sum()

Associated_AAD_YPLL_Years         0
LocationAbbr                      0
LocationDesc                      0
DataSource                        0
Data_Value_Unit                   0
ConditionType                     0
Category                          0
Cause_of_Death                    0
Direct_AAF                     4992
Direct_AAF_Alt                 4992
Indirect_AAF_Low              11128
Indirect_AAF_Low_Alt          11336
Indirect_AAF_Medium            8736
Indirect_AAF_Medium_Alt        8944
Indirect_AAF_High              8736
Indirect_AAF_High_Alt          8944
Data_Value_Footnote_Symbol    12272
Data_Value_Footnote           12272
ConsumptionPattern                0
Sex                               0
AgeGroup                          0
LocationID                        0
ConditionTypeID                   0
CategoryID                        0
Cause_of_Death_ID                 0
ConsumptionID                     0
SexID                             0
AgeGroupID                        0
DataValueUnitID                   0
dtype: int64

In [ ]:
# 5) How many features?
df.shape

# There are 28 features

(13728, 29)

In [ ]:
# 6) How many rows of data.

# There are 13728 rows

In [ ]:
#  7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

df.isnull().sum()
# I foresee less accurate predictions in model predictions due to many some alot of missing data

Associated_AAD_YPLL_Years         0
LocationAbbr                      0
LocationDesc                      0
DataSource                        0
Data_Value_Unit                   0
ConditionType                     0
Category                          0
Cause_of_Death                    0
Direct_AAF                     4992
Direct_AAF_Alt                 4992
Indirect_AAF_Low              11128
Indirect_AAF_Low_Alt          11336
Indirect_AAF_Medium            8736
Indirect_AAF_Medium_Alt        8944
Indirect_AAF_High              8736
Indirect_AAF_High_Alt          8944
Data_Value_Footnote_Symbol    12272
Data_Value_Footnote           12272
ConsumptionPattern                0
Sex                               0
AgeGroup                          0
LocationID                        0
ConditionTypeID                   0
CategoryID                        0
Cause_of_Death_ID                 0
ConsumptionID                     0
SexID                             0
AgeGroupID                        0
DataValueUnitID                   0
dtype: int64

In [ ]:
df.dtypes

Associated_AAD_YPLL_Years      object
LocationAbbr                   object
LocationDesc                   object
DataSource                     object
Data_Value_Unit                object
ConditionType                  object
Category                       object
Cause_of_Death                 object
Direct_AAF                    float64
Direct_AAF_Alt                float64
Indirect_AAF_Low               object
Indirect_AAF_Low_Alt          float64
Indirect_AAF_Medium            object
Indirect_AAF_Medium_Alt       float64
Indirect_AAF_High              object
Indirect_AAF_High_Alt         float64
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
ConsumptionPattern             object
Sex                            object
AgeGroup                       object
LocationID                      int64
ConditionTypeID                object
CategoryID                     object
Cause_of_Death_ID              object
ConsumptionID                  object
SexID                          object
AgeGroupID                     object
DataValueUnitID                object
dtype: object

Dataset 2:

DATASET SOURCE:

In [ ]:
# Create new dataframe
df1 = pd.read_csv('/content/sample_data/Alcohol-Related_Disease_Impact.csv')
# https://catalog.data.gov/dataset/national-health-and-nutrition-examination-survey-nhanes-national-cardiovascular-disease-su-00a88
df1.head()